@model hw20.Models.ProdCatalogViewModel

@{
    ViewData["Title"] = "Catalog";
}

<h1>Index</h1>

<div>
    <h4>ProdCatalogViewModel</h4>
    


    <div id="catalogListBlock" class="catalogListBlock">
    <ul id="productList" class="productList">
    @foreach(var product in Model.Products)
    {
        <li class="prodListItem">
            <div class="productNameBlock">
                <strong class="productItemName" title="@product.ProductName">@product.ProductName</strong>
                <div class="prodEditActions">
                    <span class="editButton"   href="#" onclick="editProduct(@product.Id)"></span>
                    <span class="removeButton" href="#" onclick="removeProduct(@product.Id)"></span>
                </div>                                
            </div>

            <div class="productImageBlock"> 
               <img class="ProductImage" src= "@Url.Content(product.ImagePath)" alt="@product.ProductName">
            </div>
            <p class="productItemDescr" title="@product.ProductDescription">@product.ProductDescription</p>

            <div class="productItemActions">
                <button class="productButton" href="#" onclick="addProductToCart(@product.Id, 1)">+</button>
                <span id="itemCartSpan_@product.Id" class="itemCartSpan">
                            @Model.Cart.CartOrderItems.Where(x => x.ProductId == product.Id).FirstOrDefault()?.Quantity
                </span>
                <button class="productButton" href="#" onclick="addProductToCart(@product.Id, -1)">-</button>
                @*<input type="button" value="Add to Cart" href="#" onclick="addProductToCart(@product.ProductId, 1)" />*@
                @*<button class="itemCartBtn"></button>*@
                
                @*<label class="ProductInCartCount"></label>*@

            </div>
        </li>

    }
    </ul>

    </div>




</div>


<script src="~/js/prodCatalog.js"  ></script>

<div>
@*    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>*@
</div>
