@model hw20.Models.ProdCatalogViewModel

@{
    ViewData["Title"] = "Catalog";
}

<h1>Index</h1>

<div>
    <h4>ProdCatalogViewModel</h4>
    


    <div id="catalogListBlock" class="catalogListBlock">
    <ul id="productList" class="productList">
    @foreach(var product in Model.Products)
    {
        string ProdImgPath = Model.ProductImages[product.Id];
    
         
        <li class="prodListItem" id="ProdCardId_@product.Id">
            <div class="productNameBlock">
                <strong class="productItemName" title="@product.ProductName">@product.ProductName</strong>
                <div class="prodEditActions">
                    <span class="editButton"   href="#" onclick="editProduct(@product.Id)"></span>
                    <span class="removeButton" href="#" onclick="removeProduct(@product.Id)"></span>
                </div>                                
            </div>

            <div class="productImageBlock"> 
               <img class="ProductImage" src= "@Url.Content(ProdImgPath)" alt="@product.ProductName">
            </div>
            <p class="productItemDescr" title="@product.ProductDescription">@product.ProductDescription</p>

            <div class="productItemActions">
                <button class="productButton" href="#" onclick="addProductToCart(@product.Id, 1)">+</button>
                <span id="itemCartSpan_@product.Id" class="itemCartSpan">
                            @Model.Cart.CartOrderItems.Where(x => x.ProductId == product.Id).FirstOrDefault()?.Quantity
                </span>
                <button class="productButton" href="#" onclick="addProductToCart(@product.Id, -1)">-</button>
                @*<input type="button" value="Add to Cart" href="#" onclick="addProductToCart(@product.ProductId, 1)" />*@
                @*<button class="itemCartBtn"></button>*@
                
                @*<label class="ProductInCartCount"></label>*@

            </div>
        </li>

    }
        <li class="prodListItem"  asp-controller="ProdCatalog" asp-action="ProdCatView">
            <div>
                <strong class="productItemName" >Добавить</strong>
@*                <div class="prodEditActions">
                    <span class="editButton"   href="#" onclick="editProduct(@product.Id)"></span>
                    <span class="removeButton" href="#" onclick="removeProduct(@product.Id)"></span>
                </div>    *@                            
            </div>

            <div class="productImageBlock"  onclick="addNewProduct"> 
               <img class="ProductImage" src= "@Url.Content("~/Img/add.png")" alt="Иконка добавления">
            </div>
            <p class="productItemDescr" >Нажмите для перехода на форму добавления продукта</p>

            <div class="productItemActions">
                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="NewProduct" title="NewProduct" >NewProduct</a>
@*                <button class="productButton" href="#" onclick="addProductToCart(@product.Id, 1)">+</button>
                <span id="itemCartSpan_@product.Id" class="itemCartSpan">
                            @Model.Cart.CartOrderItems.Where(x => x.ProductId == product.Id).FirstOrDefault()?.Quantity
                </span>
                <button class="productButton" href="#" onclick="addProductToCart(@product.Id, -1)">-</button>*@
                @*<input type="button" value="Add to Cart" href="#" onclick="addProductToCart(@product.ProductId, 1)" />*@
                @*<button class="itemCartBtn"></button>*@
                
                @*<label class="ProductInCartCount"></label>*@

            </div>
        </li>
    </ul>

    </div>




</div>


<script src="~/js/prodCatalog.js"  ></script>

<div>
@*    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>*@
</div>
